---
import { getCollection } from 'astro:content';
import card-post from '../components/card-post.astro';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('blog');
console.log(posts);


---

<Layout title="Mi blog con Astro">
	<h1>Bienvenido a mi blog</h1>
	<card-post/>
</Layout>
